<div class="side_menu white-block calend thumbnail" style="max-width: 225px">
    <a class="calend-title" href="#">
        <div class="text-center"><a href="{{ path('medical_calendar') }}"><h3>Календарь сельскохозяйственных мероприятий</h3></a></div>
    </a>
    <div class="calend-content">
        <div class="text-center"><b>сегодня {{ dateStr }}</b></div>
        <br />
        <div class="calendars text-center">
            {% if calendars.holidays is not empty %}
                <div>
                    <span><strong>Праздник </strong>{{ calendars.holidays|length > 1 ? 'и' }}</span>
                    <ul>
                        {% for c in calendars.holidays %}
                            <li><a href="{{ path('medical_calendar_event', {'dateFormat': dateFormat, 'id':c.id}) }}">{{ c.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if calendars.events is not empty %}
                <div>
                    <span><strong>{{ calendars.events|length == 1 ? 'историческое событие' : 'исторические события' }}</strong></span>
                    <ul>
                        {% for c in calendars.events %}
                            <li><a href="{{ path('medical_calendar_event', {'dateFormat': dateFormat, 'id':c.id}) }}">{{ c.title }} ({{ c.date|slice(6) }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if calendars.births is not empty %}
                <div>
                    <span><strong>{{ calendars.births|length == 1 ? 'Родился' : 'Родились' }} в этот день</strong></span>
                    <ul>
                        {% for c in calendars.births %}
                            <li><a href="{{ path('medical_calendar_event', {'dateFormat': dateFormat, 'id':c.id}) }}">{{ c.title }} ({{ c.birthdate|slice(6) }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if calendars.deaths is not empty %}
                <div>
                    <span><strong>День памяти</strong></span>
                    <ul>
                        {% for c in calendars.deaths %}
                            <li><a href="{{ path('medical_calendar_event', {'dateFormat': dateFormat, 'id':c.id}) }}">{{ c.title }} ({{ c.birthdate|slice(6) }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>
</div>