<div>
    {% for e in events %}
        <div class="thumbnail">
            <div class="caption" style="overflow: hidden">
                <p style="margin-bottom: 10px; font-size: 13px; color: #555">{{ e.start | date('d.m.Y') }} - {{ e.end | date('d.m.Y') }}</p>
                <h5 style="margin-top: 0"><a href="{{ path('event',{'url' : e.id}) }}">{{ e.title }}</a></h5>
                <p style="margin: 0; font-size: 13px; color: #555">{{ e.city }}</p>
            </div>
        </div>
    {% endfor %}
</div>