<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow"/>
    <link rel="canonical" href="https://medalmanah.ru{{ app.request.pathInfo }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="ed498bae1f81c4b1" />

    {% block social %}{% endblock %}
    {% block javascript %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/owl.carousel/dist/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/chosen/chosen.jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"></script>

        <script src="{{ asset('assets/vendor/jquery-mask-plugin/dist/jquery.mask.min.js') }}"></script>

        <script src="{{ asset('assets/vendor/hinclude/hinclude.js') }}"></script>

        <script src="{{ asset('bundles/app/js/main.js') }}"></script>

        <script>
            $(document).ready(function() {
                $('.multiselect').multiselect({
                    maxHeight: 300,
//                            numberDisplayed: 5,
                    includeSelectAllOption: true
                });
            });
        </script>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/app/images/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/app/images/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/app/images/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/app/images/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/app/images/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/app/images/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/app/images/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/app/images/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/app/images/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/app/images/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/app/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/app/images/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/app/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('bundles/app/images/favicons/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('bundles/app/images/favicons/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/reset-css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ asset('assets/vendor/owl.carousel/dist/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/chosen/chosen.min.css') }}">

        {#<link rel="stylesheet" href="{{ asset('bundles/app/css/checkbox.css') }}">#}
        <link href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css') }}" rel="stylesheet">
        {% stylesheets "@AppBundle/Resources/public/less/common.less" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}

        {#{% if app.request.attributes.get('_route') != 'homepage' %}#}
            {#<link rel="stylesheet" href="{{ asset('bundles/app/less/menu.css') }}">#}
            {#{% stylesheets "@AppBundle/Resources/public/less/menu.less" %}#}
            {#<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />#}
            {#{% endstylesheets %}#}
        {#{% endif %}#}

    {% endblock %}

    {% block seo %}
        <title>Альманах медицинских событий | medalmanah.ru</title>
        <meta name="description" content="Все медицинские события, курсы, повышения квалификации в одном месте"/>
    {% endblock %}
</head>
<body>
<div class="body">
    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="col-xs-3">
                    <div style="width: 250px">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('bundles/app/images/logo.png') }}" id="logo" style=" float: left" all="Альманах медицинских событий">
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 text-right hidden-sm hidden-xs">
                    <form class="navbar-form navbar-right" role="search" action="{{ path('search') }}">
                        <div class="form-group">
                            <input type="text" class="form-control" id="search" placeholder="Поиск событий" name="search">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-left: -4px;">Найти</button>
                    </form>
                </div>
                <div class="col-xs-3 hidden-sm hidden-xs">
                    {% if app.user != null %}
                        <div class="navbar-form navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ app.user.lastName~' '~app.user.firstName }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdownMenu1">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('admin_main') }}">В админ панель</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('fos_user_profile_edit') }}">В профиль</a></li>
                                    {#<li><a href="#">Избранные события</a></li>#}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="navbar-form navbar-right">
                            <button class="btn btn-primary" id="login">Вход</button>
                        </div>
                        <div class="register-btn">
                            {#<a href="{{ path('fos_user_registration_register') }}">Регистрация</a>#}
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        {% if app.request.attributes.get('_route') == 'homepage' %}
            <div class="slider hidden-sm hidden-xs">
                {{ render(controller("AppBundle:Default:carusel" )) }}
            </div>
        {% endif %}
        {{ include('@App/menu.html.twig') }}

        {% block topBody%}

        {% endblock %}
        <div class="table-layout">
            <div class="table-cell col-fixed-300 hidden-xs hidden-sm">{{ render(controller('AppBundle:Default:getUpcomingEvents')) }}</div>
            <div class="table-cell col-center">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="table-cell col-fixed-240 hidden-xs hidden-sm">
                <div class="text-left">
                    {{ render(controller("AppBundle:Widget:importants" )) }}
                    {#{{ render(controller("AppBundle:Widget:banner" )) }}#}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row footer1">
            <div class="col-md-offset-1 col-md-5 col-xs-12" style="border-right: 1px solid #fc113c ">
                <div class="social text-center">
                    <br />
                    <br />
                    <div>
                        {#<a target="_blank" href="https://vk.com/public73072501"><img src="{{ asset('bundles/app/images/icons/vk.png') }}" class="social-icon"></a>#}
                        {#<a target="_blank" href="https://www.facebook.com/euat.org/"><img src="{{ asset('bundles/app/images/icons/fb.png') }}" class="social-icon"></a>#}
                        {#<a target="_blank" href="https://twitter.com/EuatInfo"><img src="{{ asset('bundles/app/images/icons/tw.png') }}" class="social-icon"></a>#}
                        {#<a target="_blank" href="https://www.youtube.com/channel/UCgS0JAUqUpDojH6rIDXGfZA"><img src="{{ asset('bundles/app/images/icons/gp.png') }}" class="social-icon"></a>#}
                        {#<a target="_blank" href="http://ok.ru/group/57034519412770"><img src="{{ asset('bundles/app/images/icons/od.png') }}" class="social-icon"></a>#}
                        {#<img src="{{ asset('bundles/app/images/icons/icons.png') }}">#}
                            <a href="https://new.vk.com/medalmanah" target="_blank"><img src="{{ asset('bundles/app/images/icons/icons_1.png') }}" alt="ВКонтакте"></a>
                            <img src="{{ asset('bundles/app/images/icons/icons_2.png') }}" alt="Однокласники">
                            <a href="https://www.facebook.com/medalmanah" target="_blank"><img src="{{ asset('bundles/app/images/icons/icons_3.png') }}" alt="Facebook"></a>
                    </div>
                </div>
                <div class="contacts row">
                    <br /><br />
                    <div class="col-md-offset-1 col-xs-2">
                        <img src="{{ asset('bundles/app/images/icons/geo.png') }}" class="contact-icon" style="margin-top: -8px;" alt="Контакты">
                    </div>
                    <div class="col-xs-9">
                        <div class="text-uppercase" style="color: #7e7878">
                            Москва, ул. Радищевская, 16,7 <br />
                            ТЕЛ.: +7 495 789 34 67
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" style="padding-left: 65px">
                <div>
                    <div class="hidden-md hidden-lg">
                        <br />
                    </div>
                    <ul class="footer-other">
                        <li>
                            <a href="{{ path('page',{'url' : 'about'}) }}">О НАС</a>
                        </li>
                        <li>
                            <a href="{{ path('page',{'url' : 'politicy'}) }}">ПОЛИТИКА РЕДАКЦИИ</a>
                        </li>
                        <li>
                            <a href="{{ path('page',{'url' : 'eula'}) }}">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a>
                        </li>
                        <li>
                            <a href="{{ path('page',{'url' : 'partners'}) }}">ПАРТНЕРЫ</a>
                        </li>
                        <li>
                            <a href="{{ path('feedback') }}">ОБРАТНАЯ СВЯЗЬ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
{% block modal %}{% endblock %}
{% include "@App/Modal/login.html.twig" %}
{% include "@App/counter.html.twig" %}
</body>
</html>