<nav class="navbar navbar-black-default navbar-black">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Навигация</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="/" id="logo2"><img src="images/logo2.png"></a>-->
    </div>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('events',{'url': 'conference'}) }}">КОНФЕРЕНЦИИ</a></li>
            <li>
                <a href="{{ path('page',{'url' : 'about'}) }}">Об организации</a>
                {#<div class="submenu">#}
                    {#<ul class="submenu-items">#}
                        {#<li><a href="">Цели и задачи</a></li>#}
                    {#</ul>#}
                {#</div>#}
            </li>
            <li><a href="{{ path('events',{'url': 'russian-events'}) }}">РОССИЙСКИЕ МЕРОПРИЯТИЯ</a></li>
            <li>
                <a href="{{ path('events',{'url': 'foreign-events'}) }}">ЗАГРАНИЧНЫЕ МЕРОПРИЯТИЯ</a>
            </li>
            <li>
                <a href="{{ path('events',{'url': 'fpdo-courses'}) }}">КУРСЫ ФПДО</a>
            </li>
            <li>
                <a href="{{ path('events',{'url': 'online-courses'}) }}">ОНЛАЙН ОБУЧЕНИЕ</a>
            </li>
            <li>
                <a href="{{ path('events',{'url': 'internships'}) }}">СТАЖИРОВКИ</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<br />