<nav class="navbar navbar-black-default navbar-black">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Навигация</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="/" id="logo2"><img src="images/logo2.png"></a>-->
    </div>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li {{ app.request.attributes.get('_route') == 'news' or app.request.attributes.get('_route') == 'homepage' ? 'class="active"' : ''}} >
                <a href="{{ path('news') }}">ПУБЛИКАЦИИ</a>
                <div class="submenu">
                    <ul class="submenu-items">
                        <li><a href="{{ path('publications_by_category',{'category': 'news'}) }}">Новости</a></li>
                        <li><a href="{{ path('publications_by_category',{'category': 'articles'}) }}">Статьи</a></li>
                        {#<li><a href="{{ path('publications_by_category',{'category': '2'}) }}">Клинические иследования</a></li>#}
                    </ul>
                </div>
            </li>
            <li {{
                    app.request.pathInfo == '/events' or
                    app.request.pathInfo == '/events/russian-events' or
                    app.request.pathInfo == '/events/foreign-events' or
                    app.request.pathInfo == '/events-map'
                    ? 'class="active"' : ''}} >
                <a href="#">Мероприятия</a>
                <div class="submenu">
                    <ul class="submenu-items">
                        <li><a href="{{ path('events',{'url': 'russian-events'}) }}">Российские</a></li>
                        <li><a href="{{ path('events',{'url': 'foreign-events'}) }}">Зарубежные</a></li>
                        <li><a href="{{ path('events_map') }}">Карта мероприятий</a></li>
                    </ul>
                </div>
            </li>
            <li >
                <a href="{{ path('page',{'url' : 'about'}) }}">Образование</a>
                <div class="submenu">
                    <ul class="submenu-items">
                        <li><a href="{{ path('events',{'url': 'fpdo-courses'}) }}">Курсы ФПДО</a></li>
                        <li><a href="{{ path('events',{'url': 'online-courses'}) }}">Онлайн обучение</a></li>
                        <li><a href="{{ path('events',{'url': 'internships'}) }}">Стажировки</a></li>
                        <li><a href="{{ path('events',{'url': 'school'}) }}">Школы</a></li>
                    </ul>
                </div>
            </li>
            <li >
                <a href="#">Полезная информация</a>
                <div class="submenu">
                    <ul class="submenu-items">
                        <li><a href="{{ path('federal-standards') }}">Федеральные стандарты</a></li>
                        <li><a href="{{ path('abbreviations') }}">Медицинские сокращения</a></li>
                        <li><a href="{{ path('calculators') }}">Калькуляторы</a></li>
                    </ul>
                </div>
            </li>
            <li {{ app.request.attributes.get('_route') == 'feedback' ? 'class="active"' : ''}} ><a href="{{ path('feedback') }}">СВЯЗАТЬСЯ</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<br />