{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_event_list') }}">События</a> <span class="divider"></span></li>
        <li class="active">Добавление<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <link href="{{ asset('bundles/admin/tapmodo-Jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" media="all">
    {{ parent() }}

    <script src="{{ asset('bundles/admin/tapmodo-Jcrop/js/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admin/js/file.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#event_title").syncTranslit({
                destination: "event_slug",
                caseStyle: "lower",
                urlSeparator: "_"
            });
        });
    </script>
{% endblock %}