{% extends "AdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li><a href="{{ path('admin_main') }}">Домой</a> <span class="divider"></span></li>
        <li><a href="{{ path('admin_event_list') }}">Мероприятия</a> <span class="divider"></span></li>
        <li class="active">Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="well">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">О мероприятии</a></li>
            {% for page in item.pages %}
                <li role="presentation"><a href="#page{{ page.id }}" aria-controls="page{{ page.id }}" role="tab" data-toggle="tab">{{ page.menu }}</a></li>
            {% endfor %}
            <li role="presentation" class=""><a href="#new" aria-controls="new" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
        <br />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="main">
                {% if item.preview.path is defined %}
                    <div class="text-right">
                        <img src="{{ item.preview.path }}" style="max-width: 200px; display: inline-block" class="thumbnail">
                    </div>
                {% endif %}
                {{ form_start(form) }}
                <div class="form-group">
                    <label class="col-sm-4 control-label required">Выберите файл</label>
                    <div class="col-sm-8">
                        <div class="file-container">
                            <input type="file" name="ImageFile" id="ImageFile" class="fileAjax" >
                            <br />
                            <br />
                            <div class="fileDoc">
                                <img src="" brightness="0" contrast="0" style="max-width: 100%;">
                            </div>
                            <div class="navigateFile">
                                <button type="button" class="btn -btn-default rotateLeft"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <button type="button" class="btn btn-default cropImage"><span class="glyphicon glyphicon-picture"></span></button>
                                <button type="button" class="btn -btn-default rotateRight"><span class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>
                            <input type="hidden" id="x1" name="x1">
                            <input type="hidden" id="y1" name="y1">
                            <input type="hidden" id="x2" name="x2">
                            <input type="hidden" id="y2" name="y2">
                            <input type="hidden" id="thumbail" name="thumbail">
                            <input type="hidden" id="turn" name="turn" value="0">
                        </div>
                    </div>
                </div>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            {% for key,pageForm in pagesForm %}
                <div role="tabpanel" class="tab-pane" id="page{{ key }}">
                    {{ form_start(pageForm,{'action' : path('admin_event_edit_page',{'id' : item.id, 'pageId' : key })}) }}
                    {{ form_row(pageForm.type) }}
                    {{ form_row(pageForm.title) }}
                    {{ form_row(pageForm.slug) }}
                    {{ form_row(pageForm.menu) }}
                    {{ form_row(pageForm.form) }}
                    {{ form_row(pageForm.ord) }}
                    {{ form_row(pageForm.content) }}
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_widget(pageForm.submit) }}
                        </div>
                        <div class="col-sm-6 text-right">
                            <br />
                            <br />
                            <a href="{{ path('admin_event_remove_page', {'id' : item.id, 'pageId' : key }) }}" class="text-danger">Удалить</a>
                        </div>
                    </div>
                    {{ form_end(pageForm) }}
                </div>
            {% endfor %}

            <div role="tabpanel" class="tab-pane" id="new">
                {{ form_start(newForm,{'action' : path('admin_event_create_page',{'id' : item.id })}) }}
                {{ form_widget(newForm) }}
                {{ form_end(newForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <link href="{{ asset('bundles/admin/tapmodo-Jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" media="all">
    {{ parent() }}

    <script src="{{ asset('bundles/admin/tapmodo-Jcrop/js/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/admin/js/file.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#event_title").syncTranslit({
                destination: "publication_slug",
                caseStyle: "lower",
                urlSeparator: "_"
            });
        });
    </script>
{% endblock %}