<html>
<body style="font-family: Arial, Tahoma, sans-serif; background: url('http://agronizer.ru/bundles/app/images/light_toast.png'); text-align: center" background="http://agronizer.ru/bundles/app/images/light_toast.png" bgcolor="#EEE">
<table style="width: 600px; margin: 0 auto; text-align: left" width="600" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background: #f00000; font-size: 10px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2" style="background: #FFF" bgcolor="#FFF">
            <table cellpadding="0" cellspacing="0" style="width: 100%; padding: 0 30px" width="100%">
                <tr>
                    <td style="text-align: center; font-size: 20px" align="center">
                        <a href="https://agronizer.ru{{ path('homepage') }}?delivery-1" style="color: #444; text-decoration: none">Предстоящие события и последние <br />новости в мире медицины</a>
                    </td>
                    <td style="text-align: right" align="right">
                        <a href="https://agronizer.ru{{ path('homepage') }}?delivery-1"><img src="https://agronizer.ru{{ asset('bundles/app/images/logo.png') }}" style="width: 150px" width="150"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 3px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td style="text-align: justify; font-size: 16px; background: #FFF; padding: 0 30px" align="left" colspan="2" bgcolor="#FFF">
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong style="color: #55555f;">Уважаемый коллега, мы собрали для Вас список ближайших мероприятий,
                        который возможно будет Вам интересен.</strong>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>

    <tr>
        <td colspan="2" style="font-size: 16px"><br></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 3px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" colspan="2" bgcolor="#FFF">
            <a style="color: #555; text-decoration: none" href="https://agronizer.ru{{ path('events') }}?delivery-1">Ближайшие события</a>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 3px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/event/v_sezd_terapevtov_sibiri_i_dalnego_vostoka_?delivery-1" target="_blank" style="color: #f00000">
                                <img src="https://agronizer.ru/upload/event/1466486457.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777; font-size: 15px"><date>04.10.2016 - 05.10.2016</date>, Новосибирск</span><br />
                        <div><a href="https://agronizer.ru/event/v_sezd_terapevtov_sibiri_i_dalnego_vostoka_?delivery-1" target="_blank" style="color: #f00000"><strong>V Съезд терапевтов Сибири и Дальнего Востока</strong></a></div>
                        <p style="font-size: 10pt">
                            Основные вопросы:<br />
                            <ul style="list-style: decimal; font-size: 10pt; margin-left: 0; padding-left: 0">
                                <li>Актуальные вопросы современной кардиологии. Профилактическая кардиология.</li>
                                <li>Инфекционные эндокардиты, миокардиты и кардиомиопатии.</li>
                                <li>Диагностика, профилактика и лечение артериальных и венозных тромбозов...</li>
                            </ul>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>



                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/event/nauchno_prakticheskaja_konferentsija_personalizirovannyj_podhod_k_lecheniju_i_profilaktike_sotsialno_znachimyh_zabolevanij_v_terapevticheskoj_i_obschej_vrachebnoj_praktike_?delivery-1" target="_blank" style="color: #f00000">
                                <img src="https://agronizer.ru/upload/event/1473967965.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777; font-size: 15px"><date>06.10.2016</date>, Москва</span><br />
                        <div><a href="https://agronizer.ru/event/nauchno_prakticheskaja_konferentsija_personalizirovannyj_podhod_k_lecheniju_i_profilaktike_sotsialno_znachimyh_zabolevanij_v_terapevticheskoj_i_obschej_vrachebnoj_praktike_?delivery-1" target="_blank" style="color: #f00000"><strong>Научно-практическая конференция "Персонализированный подход к лечению и профилактике социально значимых заболеваний в терапевтической и общей врачебной практике".</strong></a></div>
                        <p style="font-size: 10pt">
                            Новые терапевтические возможности в лечении сердечно-сосудистых заболеваний
                            Рациональная антибактериальная терапия в общей врачебной практике
                            Современные алгоритмы диагностики и лечения сахарного диабета ...
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>


                <tr style="background: #FFF; padding: 10px" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/event/shkola_dlja_terapevtov_i_kardiologov_v_izhevske_v_oktjabre_2016_goda_arterialnaja_gipertonija_i_ateroskleroz?delivery-1" target="_blank" style="color: #f00000">
                                <img src="https://agronizer.ru/upload/event/1475086340.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777; font-size: 15px"><date>06.10.2016</date>, Ижевск</span><br />
                        <div><a href="https://agronizer.ru/event/shkola_dlja_terapevtov_i_kardiologov_v_izhevske_v_oktjabre_2016_goda_arterialnaja_gipertonija_i_ateroskleroz?delivery-1" target="_blank" style="color: #f00000"><strong>Школа для терапевтов и кардиологов в Ижевске в октябре 2016 года. Артериальная гипертония и атеросклероз</strong></a></div>
                        <p style="font-size: 10pt">Программа посвящена актуальной проблеме внутренней медицины – контролю и лечению основных факторов риска современного общества.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>




                <tr style="background: #FFF; padding: 10px" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/event/_iv_ezhegodnoj_nauchno_prakticheskoj_mezhdistsiplinarnoj_konferentsii_%C2%ABreabilitatsija_i_profilaktika_2016%C2%BB?delivery-1" target="_blank" style="color: #f00000">
                                <img src="https://agronizer.ru/upload/event/1474317591.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777; font-size: 15px"><date>07.10.2016 - 08.10.2016</date>, Москва</span><br />
                        <div><a href="https://agronizer.ru/event/_iv_ezhegodnoj_nauchno_prakticheskoj_mezhdistsiplinarnoj_konferentsii_%C2%ABreabilitatsija_i_profilaktika_2016%C2%BB?delivery-1" target="_blank" style="color: #f00000"><strong>IV ежегодной научно-практической междисциплинарной конференции «РЕАБИЛИТАЦИЯ И ПРОФИЛАКТИКА – 2016»</strong></a></div>
                        <p style="font-size: 10pt">
                            Инициаторы проведения конференции - сотрудники кафедры нелекарственных методов лечения и
                            клинической физиологии ИПО и лаборатории по разработке и внедрению новых нелекарственных
                            терапевтических методов НИЦ Первого МГМУ им. И.М. Сеченова.  Впервые Конференция «Реабилитация
                            и ...
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                {#<tr style="background: #FFF" bgcolor="#FFF">#}
                {#<td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >#}
                {#<span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">#}
                {#<a href="https://agronizer.ru/event/mezhdunarodnyj_kongress_i_5_ja_nauchno_prakticheskaja_shkola_iasgo_dostizhenija_sovremennoj_gepatopankreatobiliarnoj_hirurgii_hirurgii_pischevaritelnogo_trakta_i_transplantologii?delivery-1" target="_blank" style="color: #f00000">#}
                {#<img src="https://agronizer.ru/upload/event/1468421381.png" style="width: 160px">#}
                {#</a>#}
                {#</span>#}
                {#</td>#}
                {#<td style="text-align: left; font-size: 16px" align="left" >#}
                {#<span style="color: #777">23.09.2016 - 24.09.2016</span><br />#}
                {#<div><a href="https://agronizer.ru/event/mezhdunarodnyj_kongress_i_5_ja_nauchno_prakticheskaja_shkola_iasgo_dostizhenija_sovremennoj_gepatopankreatobiliarnoj_hirurgii_hirurgii_pischevaritelnogo_trakta_i_transplantologii?delivery-1" target="_blank" style="color: #f00000"><strong>Международный конгресс и 5-я Научно-практическая школа IASGO “Достижения современной гепатопанкреатобилиарной хирургии, хирургии пищеварительного тракта и трансплантологии”</strong></a></div>#}
                {#<p style="font-size: 10pt">Мероприятие пройдет при поддержке Международной ассоциации хирургов, гастроэнтерологов и онкологов (IASGO) и Министерства здравоохранения Российской Федерации.#}
                {#Конгресс пройдет при активном участии российских и зарубежных лидеров хирургии, трансплантологии, онкологии, лучевой диагностики, реаниматологии.</p>#}
                {#</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td colspan="2" style="font-size: 0px"><br /></td>#}
                {#</tr>#}
            </table>
        </td>
    </tr>

    <tr>
        <td style="background: #f00000; font-size: 3px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" bgcolor="#FFF" colspan="2"><a style="color: #555; text-decoration: none" href="https://agronizer.ru{{ path('news') }}?delivery-1">Интересные новости</a></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 3px" colspan="2"><br /></td>
    </tr>

    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/publications/news/_otvety_na_volnujuschie_voprosy?delivery-1" target="_blank" style="color: #F00000">
                                <img src="https://agronizer.ru/upload/publication/1475269540.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">01.10.2016</span><br />
                        <div><strong><a href="https://agronizer.ru/publications/news/_otvety_na_volnujuschie_voprosy?delivery-1" target="_blank" style="color: #F00000">Ответы на волнующие вопросы</a></strong></div>
                        <p style="font-size: 10pt">
                            28 сентября в Москве прошло собрание Национальной медицинской палаты России. Началось оно с
                            объявления победителей премии Палаты за вклад в развитие российского здравоохранения и повышения
                            уважения к профессии врача, которая проходит третий год подряд
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/publications/news/rol_trombotsitov_v_ibs?delivery-1" target="_blank" style="color: #F00000">
                                <img src="https://agronizer.ru/upload/publication/1475097533.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">29.09.2016</span><br />
                        <div><a href="https://agronizer.ru/publications/news/rol_trombotsitov_v_ibs?delivery-1" target="_blank" style="color: #F00000"><strong>Роль тромбоцитов в ИБС</strong></a></div>
                        <p style="font-size: 10pt">
                            Исследовательская группа из Emory University School of Medicine и Aflac Cancer & Blood
                            Disorders Center of Children's Healthcare of Atlanta обнаружили, как крошечные
                            тромб-продуцирующие клетки крови, называемые тромбоцитами, реагируют на напряжение
                            сдвига...
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/publications/news/novyj_neinvazivnyj_test_sposobnyj_vyjavit_poroki_ploda?delivery-1" target="_blank" style="color: #F00000">
                                <img src="https://agronizer.ru/upload/publication/1475002680.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">27.09.2016</span><br />
                        <div><a href="https://agronizer.ru/publications/news/novyj_neinvazivnyj_test_sposobnyj_vyjavit_poroki_ploda?delivery-1" target="_blank" style="color: #F00000"><strong>Новый неинвазивный тест, способный выявить пороки плода</strong></a></div>
                        <p style="font-size: 10pt">
                            Исследователи определили, о возможности разработать дородовой, неинвазивный генетический
                            тест, основанный на редких фетальных клетках, которые присутствуют в крови матери.
                            Результаты исследования были опубликованы в Пренатальной диагностике (Prenatal Diagnosis).
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://agronizer.ru/publications/news/novyj_neinvazivnyj_test_sposobnyj_vyjavit_poroki_ploda?delivery-1" target="_blank" style="color: #F00000">
                                <img src="https://agronizer.ru/upload/publication/1474914631.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">27.09.2016</span><br />
                        <div><a href="https://agronizer.ru/publications/news/novyj_neinvazivnyj_test_sposobnyj_vyjavit_poroki_ploda?delivery-1" target="_blank" style="color: #F00000"><strong>Ранний токсикоз беременных снижает риск выкидыша</strong></a></div>
                        <p style="font-size: 10pt">
                            По данным исследований, утренняя тошнота может быть связана с низким риском выкидыша, тем
                            самым предполагая, что тошнота и рвота женщины на ранних сроках беременности имеет защитный
                            эффект для плода.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 3px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr style="background: #FFF" bgcolor="#FFF">
        <td style="text-align: center; font-size: 24px; color: #555" colspan="2">
            С уважением, служба поддержки agronizer.ru
            <div style="font-size: 13px">
                Для отмены подписки пройдите пожалуйста по <a href="https://agronizer.ru{{ path('unfollow') }}?email={{ email }}">ссылке</a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
</table>
<img src="https://agronizer.ru/analytics/getimage/firstdelivery/{{ id }}"/>
</body>
</html>