<html>
<body style="font-family: Arial, Tahoma, sans-serif; background: url('http://medalmanah.ru/bundles/app/images/light_toast.png')" background="http://medalmanah.ru/bundles/app/images/light_toast.png" bgcolor="#EEE">
<table style="width: 600px" width="600" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background: #f00000; font-size: 10px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2" style="background: #FFF" bgcolor="#FFF">
            <table cellpadding="0" cellspacing="0" style="width: 100%; padding: 0 30px" width="100%">
                <tr>
                    <td style="text-align: center; font-size: 20px" align="center">
                        <a href="{{ url('homepage') }}" style="color: #444; text-decoration: none">МЫ ОТКРЫЛИСЬ!</a>
                    </td>
                    <td style="text-align: right" align="right">
                        <a href="{{ url('homepage') }}"><img src="{{ asset('bundles/app/images/logo.png') }}" style="width: 150px" width="150"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td style="text-align: justify; font-size: 16px; background: #FFF; padding: 0 30px" align="left" colspan="2" bgcolor="#FFF">
                        &nbsp;&nbsp;&nbsp;&nbsp;Уважаемый Коллега! рады представить Вам портал, на котором собранны практически
                        все предстоящие
                        события мира медицины как в России, так и в других странах. Мы стараемся анонсировать и осветить
                        каждое мероприятие, которое может быть Вам интересно. Также на нашем портале Вы сможете ознакомиться
                        с последними новостями вашей специализации, рассмотреть интересные клинические случаи,прослушать
                        вебинары ведущих специалистов.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" colspan="2" bgcolor="#FFF">
            <a style="color: #555; text-decoration: none" href="{{ url('events') }}">Ближайшие события</a>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF; padding: 10px" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469210649.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Не только иммунитет</strong></div>
                        <p>Сенсационное исследование, опубликованное в Nature, установило захватывающую и неожиданную связь социального поведения и иммунной системы.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469210649.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Не только иммунитет</strong></div>
                        <p>Сенсационное исследование, опубликованное в Nature, установило захватывающую и неожиданную связь социального поведения и иммунной системы.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469210649.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Не только иммунитет</strong></div>
                        <p>Сенсационное исследование, опубликованное в Nature, установило захватывающую и неожиданную связь социального поведения и иммунной системы.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469210649.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Не только иммунитет</strong></div>
                        <p>Сенсационное исследование, опубликованное в Nature, установило захватывающую и неожиданную связь социального поведения и иммунной системы.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469210649.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Не только иммунитет</strong></div>
                        <p>Сенсационное исследование, опубликованное в Nature, установило захватывающую и неожиданную связь социального поведения и иммунной системы.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" bgcolor="#FFF" colspan="2"><a style="color: #555; text-decoration: none" href="{{ url('news') }}">Интересные новости</a></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469210649.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Не только иммунитет</strong></div>
                        <p>Сенсационное исследование, опубликованное в Nature, установило захватывающую и неожиданную связь социального поведения и иммунной системы.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469196541.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Бросать полезно</strong></div>
                        <p>Курильщики, особенно курящие женщины, подвержены наибольшему риску кровотечений мозговых оболочек (субарахноидальное кровотечение), по сравнению с некурящими. Такой вывод делается в новом исследовании, обнародованном на страницах журнала Stroke.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469192967.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">22.07.2016</span><br />
                        <div><strong>Врачи-чемпионы</strong></div>
                        <p>Поздравляем сборную российских врачей с победой в чемпионате мира по футболу в Барселоне!</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px"><img src="http://medalmanah.ru/upload/publication/1469120806.png" style="width: 160px"></span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">21.07.2016</span><br />
                        <div><strong>Кишечник — всему голова</strong></div>
                        <p>Нейрофизиологи из Университета Чикаго (США) установили, что лечение мышей антибиотиками широкого спектра в течение длительного периода уменьшает бляшки, вызывающие болезнь Альцгеймера, и повышает воспалительный статус клеток микроглии головного мозга.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr style="background: #FFF" bgcolor="#FFF">
        <td style="text-align: center; font-size: 24px; color: #555" colspan="2">
            С уважением, служба поддержки medalmanah.ru
            <div style="font-size: 13px">
                Для отмены подписки пройдите пожалуйста по <a href="#">ссылке</a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
</table>
</body>
</html>