{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
	{% autoescape false %}
		{{ 'resetting.email.subject'|trans }}
	{% endautoescape %}
{% endblock %}

{% block body_html %}
	<div style="font-family: Arial, Tahoma, sans-serif; background: url('http://medalmanah.ru/bundles/app/images/light_toast.png')" background="http://medalmanah.ru/bundles/app/images/light_toast.png" bgcolor="#EEE">
		<table style="width: 600px" width="600" cellpadding="0" cellspacing="0">
			<tr>
				<td style="background: #f00000; font-size: 10px" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
			<tr>
				<td colspan="2" style="background: #FFF" bgcolor="#FFF">
					<table cellpadding="0" cellspacing="0" style="width: 100%; padding: 0 30px" width="100%">
						<tr>
							<td style="text-align: center; font-size: 20px" align="center">
								<a href="{{ url('homepage') }}" style="color: #444; text-decoration: none">МЫ ОТКРЫЛИСЬ!</a>
							</td>
							<td style="text-align: right" align="right">
								<a href="{{ url('homepage') }}"><img src="{{ asset('bundles/app/images/logo.png') }}" style="width: 150px" width="150"></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" colspan="2" bgcolor="#FFF">
					<a style="color: #555; text-decoration: none" href="{{ url('events') }}">Вы зарегистрировались на портале</a>
				</td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
			<tr>
				<td colspan="2">
					{% autoescape false %}
						{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
					{% endautoescape %}
				</td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
			<tr style="background: #FFF" bgcolor="#FFF">
				<td style="text-align: center; font-size: 24px; color: #555" colspan="2">
					С уважением, служба поддержки medalmanah.ru
				</td>
			</tr>
			<tr>
				<td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
			</tr>
		</table>
	</div>
	{#{% autoescape false %}#}
	{#{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
	{#{% endautoescape %}#}
{% endblock %}

{#{% block body_html %}{% endblock %}#}