<html>
<body style="font-family: Arial, Tahoma, sans-serif; background: url('http://medalmanah.ru/bundles/app/images/light_toast.png'); text-align: center" background="http://medalmanah.ru/bundles/app/images/light_toast.png" bgcolor="#EEE">
<table style="width: 600px; margin: 0 auto; text-align: left" width="600" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background: #f00000; font-size: 10px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2" style="background: #FFF" bgcolor="#FFF">
            <table cellpadding="0" cellspacing="0" style="width: 100%; padding: 0 30px" width="100%">
                <tr>
                    <td style="text-align: center; font-size: 20px" align="center">
                        <a href="https://medalmanah.ru{{ path('homepage') }}?mail" style="color: #444; text-decoration: none">Предстоящие события в мире <br />медицины</a>
                    </td>
                    <td style="text-align: right" align="right">
                        <a href="https://medalmanah.ru{{ path('homepage') }}?mail"><img src="https://medalmanah.ru{{ asset('bundles/app/images/logo.png') }}" style="width: 150px" width="150"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td style="text-align: justify; font-size: 16px; background: #FFF; padding: 0 30px" align="left" colspan="2" bgcolor="#FFF">
                        &nbsp;&nbsp;&nbsp;&nbsp;Уважаемый Коллега! рады представить Вам портал, на котором собраны практически
                        все предстоящие
                        события мира медицины как в России, так и в других странах. Мы стараемся анонсировать и осветить
                        каждое мероприятие, которое может быть Вам интересно. Также на нашем портале Вы сможете ознакомиться
                        с последними новостями вашей специализации, рассмотреть интересные клинические случаи,прослушать
                        вебинары ведущих специалистов.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" colspan="2" bgcolor="#FFF">
            <a style="color: #555; text-decoration: none" href="https://medalmanah.ru{{ path('events') }}?mail">Ближайшие события</a>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/mezhdunarodnyj_sammit_prediktivno_preventivnaja_i_personalizirovannaja_meditsina_osnova_novoj_sistemy_zdravoohranenija_?mail" target="_blank" style="color: #f00000">
                                <img src="https://medalmanah.ru/upload/event/1474493778.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">26.09.2016 - 28.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/mezhdunarodnyj_sammit_prediktivno_preventivnaja_i_personalizirovannaja_meditsina_osnova_novoj_sistemy_zdravoohranenija_?mail" target="_blank" style="color: #f00000"><strong>Международный саммит "Предиктивно-превентивная и персонализированная медицина - основа новой системы здравоохранения"</strong></a></div>
                        <p style="font-size: 10pt">Предиктивно-превентивная и персонализированная медицина  – это оказание комплексной медицинской помощи, осуществляемое в соответствии с характеристиками конкретного пациента, еще до момента проявления заболеваний. Эти направления медицины учитывают не только используемые уже в течение долгого времени клинические признаки, например, возраст, пол, телосложение, семейная история, и другие, но, в первую очередь, молекулярные характеристики организма человека.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>



                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/6?mail" target="_blank" style="color: #f00000">
                                <img src="https://medalmanah.ru/upload/event/1464643631.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">27.09.2016 - 30.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/6?mail" target="_blank" style="color: #f00000"><strong>2016 XVII Всероссийский научный форум "Мать и Дитя 2016; XVIII Международная специализированная выставка «Охрана здоровья матери и ребенка – 2016»</strong></a></div>
                        <p style="font-size: 10pt">
                            Модернизация здравоохранения: основные направления работы по снижению материнской и младенческой заболеваемости и смертности:<br />
                            роль перинатальных центров в повышении доступности, эффективности и качества  помощи женщинам и детям ...
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>


                <tr style="background: #FFF; padding: 10px" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/vii_obscherossijskaja_konferentsija_s_mezhdunarodnym_uchastiem_%C2%ABnedelja_meditsinskogo_obrazovanija_2016%C2%BB_pervyj_mgmu_im_im_sechenova_?mail" target="_blank" style="color: #f00000">
                                <img src="https://medalmanah.ru/upload/event/1474494556.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">27.09.2016 - 28.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/vii_obscherossijskaja_konferentsija_s_mezhdunarodnym_uchastiem_%C2%ABnedelja_meditsinskogo_obrazovanija_2016%C2%BB_pervyj_mgmu_im_im_sechenova_?mail" target="_blank" style="color: #f00000"><strong>VII Общероссийская конференция с международным участием «Неделя медицинского образования - 2016» Первый МГМУ им. И.М. Сеченова</strong></a></div>
                        <p style="font-size: 10pt">КАЧЕСТВО МЕДИЦИНСКОГО ОБРАЗОВАНИЯ – ОТ ПРОФИЛЬНОЙ ШКОЛЫ К ПРОФЕССИОНАЛЬНОМУ СТАНДАРТУ</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>




                <tr style="background: #FFF; padding: 10px" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/nauchno_prakticheskij_seminar_fizicheskoe_i_seksualnoe_zdorove_pary_zrelogo_vozrasta_mezhdistsiplinarnyj_podhod_?mail" target="_blank" style="color: #f00000">
                                <img src="https://medalmanah.ru/upload/event/1473969020.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">29.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/nauchno_prakticheskij_seminar_fizicheskoe_i_seksualnoe_zdorove_pary_zrelogo_vozrasta_mezhdistsiplinarnyj_podhod_?mail" target="_blank" style="color: #f00000"><strong>Научно-практический семинар "Физическое и сексуальное здоровье пары зрелого возраста. Междисциплинарный подход".</strong></a></div>
                        <p style="font-size: 10pt">Рапопрот Александр. Мужчина и женщина. Психология гармонии в паре.
                            Липова Елена Валерьевна. Современные возможности сохранения физического и сексуального здоровья женщины в пери- и постменопаузе.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                {#<tr style="background: #FFF" bgcolor="#FFF">#}
                    {#<td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >#}
                        {#<span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">#}
                            {#<a href="https://medalmanah.ru/event/mezhdunarodnyj_kongress_i_5_ja_nauchno_prakticheskaja_shkola_iasgo_dostizhenija_sovremennoj_gepatopankreatobiliarnoj_hirurgii_hirurgii_pischevaritelnogo_trakta_i_transplantologii?mail" target="_blank" style="color: #f00000">#}
                                {#<img src="https://medalmanah.ru/upload/event/1468421381.png" style="width: 160px">#}
                            {#</a>#}
                        {#</span>#}
                    {#</td>#}
                    {#<td style="text-align: left; font-size: 16px" align="left" >#}
                        {#<span style="color: #777">23.09.2016 - 24.09.2016</span><br />#}
                        {#<div><a href="https://medalmanah.ru/event/mezhdunarodnyj_kongress_i_5_ja_nauchno_prakticheskaja_shkola_iasgo_dostizhenija_sovremennoj_gepatopankreatobiliarnoj_hirurgii_hirurgii_pischevaritelnogo_trakta_i_transplantologii?mail" target="_blank" style="color: #f00000"><strong>Международный конгресс и 5-я Научно-практическая школа IASGO “Достижения современной гепатопанкреатобилиарной хирургии, хирургии пищеварительного тракта и трансплантологии”</strong></a></div>#}
                        {#<p style="font-size: 10pt">Мероприятие пройдет при поддержке Международной ассоциации хирургов, гастроэнтерологов и онкологов (IASGO) и Министерства здравоохранения Российской Федерации.#}
                            {#Конгресс пройдет при активном участии российских и зарубежных лидеров хирургии, трансплантологии, онкологии, лучевой диагностики, реаниматологии.</p>#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td colspan="2" style="font-size: 0px"><br /></td>#}
                {#</tr>#}
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" bgcolor="#FFF" colspan="2"><a style="color: #555; text-decoration: none" href="https://medalmanah.ru{{ path('news') }}?mail">Интересные новости</a></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/news/minzdrav_nachinaet_proverki_kachestva_meditsinskih_profosmotrov?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1474493078.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">22.09.2016</span><br />
                        <div><strong><a href="https://medalmanah.ru/publications/news/minzdrav_nachinaet_proverki_kachestva_meditsinskih_profosmotrov?mail" target="_blank" style="color: #F00000">Минздрав начинает проверки качества медицинских профосмотров</a></strong></div>
                        <p>Такое поручение ведомству дал Дмитрий Медведев. Поимом Минздрава России в проверках будет участвовать и Роспотребнадзор</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/news/net_otgovorkam_gen_ozhirenija_ne_obrekaet_na_izbytochnyj_ves?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1474478286.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">21.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/publications/news/net_otgovorkam_gen_ozhirenija_ne_obrekaet_na_izbytochnyj_ves?mail" target="_blank" style="color: #F00000"><strong>Нет отговоркам, ген ожирения не обрекает на избыточный вес</strong></a></div>
                        <p>Люди, имеющие у себя так называемый ген ожирения FTO, реагируют на диеты и физические упражнения точно так же, как и люди без него.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/news/pischevaja_allergija_u_detej_i_kak_ee_predotvratit?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1474404108.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">20.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/publications/news/pischevaja_allergija_u_detej_i_kak_ee_predotvratit?mail" target="_blank" style="color: #F00000"><strong>Пищевая аллергия у детей и как ее предотвратить</strong></a></div>
                        <p>
                            Кормление младенцев яйцами и арахисом может снизить риск развития аллергии на пищевые продукты, выявило новое исследование, опубликованное в журнале Американской медицинской ассоциации (American Medical Association).
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/news/vrachi_revmatologi_pomogut_ostanovit_invalidizatsiju_rossijan?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1474385089.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">20.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/publications/news/vrachi_revmatologi_pomogut_ostanovit_invalidizatsiju_rossijan?mail" target="_blank" style="color: #F00000"><strong>Врачи-ревматологи помогут остановить инвалидизацию россиян</strong></a></div>
                        <p>15 сентября 2016 года в Санкт-Петербурге состоялась пресс-конференция в рамках Конгресса с международным участием «Дни ревматологии в Санкт-Петербурге».</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr style="background: #FFF" bgcolor="#FFF">
        <td style="text-align: center; font-size: 24px; color: #555" colspan="2">
            С уважением, служба поддержки medalmanah.ru
            <div style="font-size: 13px">
                Для отмены подписки пройдите пожалуйста по <a href="https://medalmanah.ru{{ path('unfollow') }}?email={{ email }}">ссылке</a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
</table>
<img src="https://medalmanah.ru/analytics/getimage/firstdelivery/{{ id }}"/>
</body>
</html>
