<html>
<body style="font-family: Arial, Tahoma, sans-serif; background: url('http://medalmanah.ru/bundles/app/images/light_toast.png'); text-align: center" background="http://medalmanah.ru/bundles/app/images/light_toast.png" bgcolor="#EEE">
<table style="width: 600px; margin: 0 auto; text-align: left" width="600" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background: #f00000; font-size: 10px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2" style="background: #FFF" bgcolor="#FFF">
            <table cellpadding="0" cellspacing="0" style="width: 100%; padding: 0 30px" width="100%">
                <tr>
                    <td style="text-align: center; font-size: 20px" align="center">
                        <a href="https://medalmanah.ru{{ path('homepage') }}" style="color: #444; text-decoration: none">ПРЕДСТОЯЩИЕ СОБЫТИЯ В МИРЕ <br />МЕДИЦИНЫ</a>
                    </td>
                    <td style="text-align: right" align="right">
                        <a href="https://medalmanah.ru{{ path('homepage') }}"><img src="https://medalmanah.ru{{ asset('bundles/app/images/logo.png') }}" style="width: 150px" width="150"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td style="text-align: justify; font-size: 16px; background: #FFF; padding: 0 30px" align="left" colspan="2" bgcolor="#FFF">
                        &nbsp;&nbsp;&nbsp;&nbsp;Уважаемый Коллега! рады представить Вам портал, на котором собранны практически
                        все предстоящие
                        события мира медицины как в России, так и в других странах. Мы стараемся анонсировать и осветить
                        каждое мероприятие, которое может быть Вам интересно. Также на нашем портале Вы сможете ознакомиться
                        с последними новостями вашей специализации, рассмотреть интересные клинические случаи,прослушать
                        вебинары ведущих специалистов.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" colspan="2" bgcolor="#FFF">
            <a style="color: #555; text-decoration: none" href="https://medalmanah.ru{{ path('events') }}">Ближайшие события</a>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF; padding: 10px" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/139" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1468412726.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">25.08.2016 - 27.08.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/139" target="_blank" style="color: #f00000"><strong>Всероссийская научно-практическая конференция с международным участием «оперативная и консервативная колопроктология: современные технологии для высокого качества жизни пациентов» и объединенный каспийский и байкальский форум по проблемам ВЗК</strong></a></div>
                        <p style="font-size: 10pt">Общероссийская общественная организация «АССОЦИАЦИЯ КОЛОПРОКТОЛОГОВ РОССИИ» приглашает вас принять участие в работе Всероссийского Съезда колопроктологов с международным участием «Оперативная и консервативная колопроктология: современные технологии для высокого качества жизни пациентов» и Объединенного Каспийского и Байкальского форума по проблемам ВЗК».</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/140" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1468414493.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">07.09.2016 - 07.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/140" target="_blank" style="color: #f00000"><strong>Межрегиональная тематическая конференция "Современные подходы к лечению критической ишемии нижних конечностей"т</strong></a></div>
                        <p style="font-size: 10pt">Конференция посвящена современным способам хирургического и медикаментозного лечения критической ишемии нижних конечностей различного генеза.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/8" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1464645318.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">10.09.2016 - 13.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/8" target="_blank" style="color: #f00000"><strong>IX Общероссийский семинар «Репродуктивный потенциал России: версии и контраверсии»</strong></a></div>
                        <p style="font-size: 10pt">«Сочинские контраверсии» уже девятый год подряд собирают профессионалов репродуктивной медицины, стремящихся к совершенству в своей практической и научной работе. Постепенно это уже становится доброй традицией для прогрессивной медицинской общественности — в начале сентября собираться на «Сочинские контраверсии», давая старт рабочему году и аккумулируя на весь этот период столь нужный всем нам настрой на позитив.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/8" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1464642619.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">13.09.2016 - 13.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/8" target="_blank" style="color: #f00000"><strong>Амбулаторный прием. Цикл образовательных сессий для врачей поликлиник Сессия: "Лекарственный справочник амбулаторного терапевта"</strong></a></div>
                        <p style="font-size: 10pt">Уважаемые коллеги! Рады сообщить, что участники сессии получат сертификат с образовательными кредитами по системе повышения квалификации в рамках НМО (6 кредитов), которые будут учитываться при аккредитации специалистов.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/142" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1468419688.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">19.09.2016 - 20.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/142" target="_blank" style="color: #f00000"><strong>Региональная тематическая конференция с мастер-классом "Хирургия послеоперационных вентральных грыж"</strong></a></div>
                        <p style="font-size: 10pt">Организатор: Кафедра хирургии и онкологии ФПК МР РУДН.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" bgcolor="#FFF" colspan="2"><a style="color: #555; text-decoration: none" href="https://medalmanah.ru{{ path('news') }}">Интересные новости</a></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/news/mini_mozg_dlja_issledovanij" target="_blank" style="color: #F00000">
                                <img src="http://medalmanah.ru/upload/publication/1469998154.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">31.07.2016</span><br />
                        <div><a href="https://medalmanah.ru/news/mini_mozg_dlja_issledovanij" target="_blank" style="color: #F00000"><strong>Мини-мозг для исследований</strong></a></div>
                        <p>Ученые из Сингапура сделали огромный рывок в науке - вырастив мини-мозг в лаборатории. Эти мини версии человеческого среднего мозга позволят исследователям в полном объеме изучить болезнь Паркинсона, а также иные заболевания, связанные поражениями мозга.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/news/sverhprochnyj_splav_dlja_protezov" target="_blank" style="color: #F00000">
                                <img src="http://medalmanah.ru/upload/publication/1469895922.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">30.07.2016</span><br />
                        <div><a href="https://medalmanah.ru/news/sverhprochnyj_splav_dlja_protezov" target="_blank" style="color: #F00000"><strong>Сверхпрочный сплав для протезов</strong></a></div>
                        <p>Был придуман новый металлический сплав из титана и золота, который превосходит по своей прочности простые сплавы в 4 раза. Данное достижение сделано командой Rice University под руководством Эмилии Моросан. Его планируют использовать для замены тазобедренных и коленных суставов, так как простые протезы, которые на данный момент делаются из титана, не долговечны и их приходится менять каждые 10 лет.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/news/plastyr_protiv_raka" target="_blank" style="color: #F00000">
                                <img src="http://medalmanah.ru/upload/publication/1469895069.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">30.07.2016</span><br />
                        <div><strong><a href="https://medalmanah.ru/news/plastyr_protiv_raka" target="_blank" style="color: #F00000">Пластырь против рака</a></strong></div>
                        <p>Массачусетскому технологическому университету удалось разработать уникальный противораковый пластырь. Приоритетным в данный момент лечением злокачественных новообразований является оперативный метод и химиотерапия, однако полное освобождение организма от опухоли не всегда возможно, а в большинстве случаев и невозможно вовсе.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/news/antioksidanty_pomogajut_raku" target="_blank" style="color: #F00000">
                                <img src="http://medalmanah.ru/upload/publication/1469862990.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">30.07.2016</span><br />
                        <div><a href="https://medalmanah.ru/news/antioksidanty_pomogajut_raku" target="_blank" style="color: #F00000"><strong>Антиоксиданты помогают раку</strong></a></div>
                        <p>Если верить новому исследованию, новейшая лекарственная терапия, которая имитирует подавление антиоксидантного протеина, убивает раковые клетки поджелудочной железы.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr style="background: #FFF" bgcolor="#FFF">
        <td style="text-align: center; font-size: 24px; color: #555" colspan="2">
            С уважением, служба поддержки medalmanah.ru
            <div style="font-size: 13px">
                Для отмены подписки пройдите пожалуйста по <a href="https://medalmanah.ru{{ path('unfollow') }}?email={{ email }}">ссылке</a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
</table>
</body>
</html>