<html>
<body style="font-family: Arial, Tahoma, sans-serif; background: url('http://medalmanah.ru/bundles/app/images/light_toast.png'); text-align: center" background="http://medalmanah.ru/bundles/app/images/light_toast.png" bgcolor="#EEE">
<table style="width: 600px; margin: 0 auto; text-align: left" width="600" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background: #f00000; font-size: 10px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2" style="background: #FFF" bgcolor="#FFF">
            <table cellpadding="0" cellspacing="0" style="width: 100%; padding: 0 30px" width="100%">
                <tr>
                    <td style="text-align: center; font-size: 20px" align="center">
                        <a href="https://medalmanah.ru{{ path('homepage') }}?mail" style="color: #444; text-decoration: none">ПРЕДСТОЯЩИЕ СОБЫТИЯ В МИРЕ <br />МЕДИЦИНЫ</a>
                    </td>
                    <td style="text-align: right" align="right">
                        <a href="https://medalmanah.ru{{ path('homepage') }}?mail"><img src="https://medalmanah.ru{{ asset('bundles/app/images/logo.png') }}" style="width: 150px" width="150"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td style="text-align: justify; font-size: 16px; background: #FFF; padding: 0 30px" align="left" colspan="2" bgcolor="#FFF">
                        &nbsp;&nbsp;&nbsp;&nbsp;Уважаемый Коллега! рады представить Вам портал, на котором собранны практически
                        все предстоящие
                        события мира медицины как в России, так и в других странах. Мы стараемся анонсировать и осветить
                        каждое мероприятие, которое может быть Вам интересно. Также на нашем портале Вы сможете ознакомиться
                        с последними новостями вашей специализации, рассмотреть интересные клинические случаи,прослушать
                        вебинары ведущих специалистов.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" colspan="2" bgcolor="#FFF">
            <a style="color: #555; text-decoration: none" href="https://medalmanah.ru{{ path('events') }}?mail">Ближайшие события</a>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/140?mail" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1468414493.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">07.09.2016 - 07.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/140?mail" target="_blank" style="color: #f00000"><strong>Межрегиональная тематическая конференция "Современные подходы к лечению критической ишемии нижних конечностей"т</strong></a></div>
                        <p style="font-size: 10pt">Конференция посвящена современным способам хирургического и медикаментозного лечения критической ишемии нижних конечностей различного генеза.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/8?mail" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1464645318.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">10.09.2016 - 13.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/8?mail" target="_blank" style="color: #f00000"><strong>IX Общероссийский семинар «Репродуктивный потенциал России: версии и контраверсии»</strong></a></div>
                        <p style="font-size: 10pt">«Сочинские контраверсии» уже девятый год подряд собирают профессионалов репродуктивной медицины, стремящихся к совершенству в своей практической и научной работе. Постепенно это уже становится доброй традицией для прогрессивной медицинской общественности — в начале сентября собираться на «Сочинские контраверсии», давая старт рабочему году и аккумулируя на весь этот период столь нужный всем нам настрой на позитив.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>



                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/7?mail" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1464642619.jpeg" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">13.09.2016 - 13.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/7?mail" target="_blank" style="color: #f00000"><strong>Амбулаторный прием. Цикл образовательных сессий для врачей поликлиник Сессия: "Лекарственный справочник амбулаторного терапевта"</strong></a></div>
                        <p style="font-size: 10pt">Уважаемые коллеги! Рады сообщить, что участники сессии получат сертификат с образовательными кредитами по системе повышения квалификации в рамках НМО (6 кредитов), которые будут учитываться при аккредитации специалистов.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF; padding: 10px" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/event/rossijskij_natsionalnyj_kongress_kardiologov_2016?mail" target="_blank" style="color: #f00000">
                                <img src="http://medalmanah.ru/upload/event/1469648192.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">20.09.2016 - 23.09.2016</span><br />
                        <div><a href="https://medalmanah.ru/event/rossijskij_natsionalnyj_kongress_kardiologov_2016?mail" target="_blank" style="color: #f00000"><strong>Российский национальный конгресс кардиологов 2016</strong></a></div>
                        <p style="font-size: 10pt">Уважаемые коллеги! Общероссийская общественная организация «Российское кардиологическое общество» приглашает Вас принять участие в Российском национальном конгрессе кардиологов.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="padding-left: 50px; font-size: 24px; color: #555; background: #FFF" bgcolor="#FFF" colspan="2"><a style="color: #555; text-decoration: none" href="https://medalmanah.ru{{ path('news') }}?mail">Интересные новости</a></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td colspan="2">
            <table cellpadding="10" cellspacing="0" style="width: 100%;" width="100%">
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>
                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/articles/biomarkery_insulta_?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1472418351.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">29.08.2016</span><br />
                        <div><strong><a href="https://medalmanah.ru/publications/articles/biomarkery_insulta_?mail" target="_blank" style="color: #F00000">Биомаркеры инсульта</a></strong></div>
                        <p>Люди с высоким уровнем содержания четырёх биомаркеров в крови могут быть более склонны к развитию инсульта, чем люди с низким уровнем биомаркеров, согласно данным, опубликованным в журнале Американской академии неврологии.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/news/prostoj_test_diagnostiki_tuberkuleza_?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1472418043.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >

                        <span style="color: #777">28.08.2016</span><br />
                        <div><a href="https://medalmanah.ru/publications/news/prostoj_test_diagnostiki_tuberkuleza_?mail" target="_blank" style="color: #F00000"><strong>Простой тест диагностики туберкулеза</strong></a></div>
                        <p>Туберкулез - один из самых больших бичей среди инфекционных заболеваний в мире, от которого погибает около 2 млн. человек в год. Как известно, огромное количество больных туберкулезом проживает в экономически неразвитых странах, там, где плохо развита система здравоохранения.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/news/pribor_dlja_diagnostiki_zabolevanij_uha?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1472116058.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">25.08.2016</span><br />
                        <div><a href="https://medalmanah.ru/publications/news/pribor_dlja_diagnostiki_zabolevanij_uha?mail" target="_blank" style="color: #F00000"><strong>Прибор для диагностики заболеваний уха</strong></a></div>
                        <p>Новое устройство, разработанное исследователями из Массачусетского технологического института (MIT) и врачами из Детского медицинского центра в Коннектикуте(Connecticut Children's Medical Center ), способно улучшить диагностику заболеваний уха. Это может сократить постановку неправильных диагнозов и назначения ненужных антибиотиков.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

                <tr style="background: #FFF" bgcolor="#FFF">
                    <td style="text-align: left; width: 200px; vertical-align: top" align="left" valign="top" >
                        <span style="display: inline-block; padding: 3px; border: 1px solid #CCC; border-radius: 3px">
                            <a href="https://medalmanah.ru/publications/news/insulin_v_tabletke_?mail" target="_blank" style="color: #F00000">
                                <img src="https://medalmanah.ru/upload/publication/1472112915.png" style="width: 160px">
                            </a>
                        </span>
                    </td>
                    <td style="text-align: left; font-size: 16px" align="left" >
                        <span style="color: #777">25.08.2016</span><br />
                        <div><a href="https://medalmanah.ru/publications/news/insulin_v_tabletke_?mail" target="_blank" style="color: #F00000"><strong>Инсулин в таблетке</strong></a></div>
                        <p>Каждый день миллионы людей с диабетом должны вводить себе инъекции инсулина, чтобы контролировать уровень сахара в крови. Уже давно учёные пытаются создать инсулин, благодаря которому будет возможность отказаться от уколов</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 0px"><br /></td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #f00000; font-size: 5px" colspan="2"><br /></td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
    <tr style="background: #FFF" bgcolor="#FFF">
        <td style="text-align: center; font-size: 24px; color: #555" colspan="2">
            С уважением, служба поддержки medalmanah.ru
            <div style="font-size: 13px">
                Для отмены подписки пройдите пожалуйста по <a href="https://medalmanah.ru{{ path('unfollow') }}?email={{ email }}">ссылке</a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background: #FFF" bgcolor="#FFF" colspan="2"><br /></td>
    </tr>
</table>
<img src="https://medalmanah.ru/analytics/getimage/firstdelivery/{{ id }}"/>
</body>
</html>
