{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block seo %}
    <title>{{ event.title }}, {{ event.city }}, {{ event.start | date('d.m.Y') }} </title>
    <meta name="description" content="{{ event.metaDescription ? event.metaDescription : event.anons }}. {{ event.start | date('d.m.Y') }}, {{ event.city }}"/>
    <meta name="keywords" content="{{ event.metaKeyword }}"/>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="row">
            <div class="title"><h1>{{ event.title }}</h1></div>
            <ol class="breadcrumb">
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="/"><span itemprop="title">Главная</span></a></li>

                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="{{ path('events',{'url' : event.category.slug }) }}"><span itemprop="title">{{ event.category.title }}</span></a></li>

                <li class="active">{{ event.title }}</li>
            </ol>



            {% if event.preview.path is defined %}
                <div class="col-xs-4">
                    <img src="{{ event.preview.path }}"
                         style="float: left; margin: 0 20px 10px 10px"
                         class="img-thumbnail"
                         alt="{{ event.title }}"
                         title="{{ event.title }}"
                         itemprop="image"
                    />
                </div>
            {% endif %}
            <div class="col-xs-{{ event.preview.path is defined ? '6' : '10' }}">
                <ul class="event-params">
                    {% if event.specialties | length > 0 %}
                        <li><b>Специальности:</b>
                            {% for s in event.specialties %}
                                {{ s.title }}
                                {% if s != event.specialties | last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if event.start != null %}
                        <li>
                            <b>Дата начала:</b>     {{ event.start | date('d.m.Y') }}
                        </li>
                    {% endif %}
                    {% if event.end != null %}
                        <li><b>Дата окончания:</b>  {{ event.end  | date('d.m.Y') }}</li>
                    {% endif %}
                    {% if event.city != null %}
                        <li><b>Город:</b>           {{ event.city  }}</li>
                    {% endif %}
                    {% if event.adrs != null %}
                        <li><b>Адрес:</b>           {{ event.adrs }}</li>
                    {% endif %}
                    {% if event.contacts != null %}
                        <li><b>Контактная информация:</b> {{ event.contacts }}</li>
                    {% endif %}
                    {% if event.source != null %}
                        <li><b>Сайт:</b> <a href="{{ event.source }}" target="_blank">{{ event.source|length > 50 ? event.source|slice(0, 50) ~ '...' : event.source  }}</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <hr />
        <div class="body">
            {{ event.body | raw }}
        </div>
        <hr />
        <div class="row">
            <span style="font-size: 14px; float: left;padding-top: 8px;padding-left: 15px;">Расказать друзьям&nbsp;&nbsp;</span>
            <div class="col-xs-8" style="padding-top: 5px;">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter="" style="text-align: left; "
                     data-title="{{ event.title }}"
                     data-description="{{ event.anons is defined ? event.anons : ''}}"
                     data-image="{{ event.preview.path is defined ? event.preview.path : '' }}"
                >
                </div>
            </div>
        </div>
    </div>

{% endblock %}