{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
    <style>
        .body ol{
            margin-left: 20px;
            list-style: circle;
        }

        .body{
            margin-top: 20px;
        }
        #event-menu{
            margin-bottom: 0;
            font-size: 0;
        }
        #event-menu li{
            display: inline-block;
            margin: 0;
            font-size: 17px;
            /*font-weight: bold;*/
            font-family: Roboto,Arial,serif;
        }
        #event-menu li a{
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid #FFF;
            border-bottom: 1px solid #CCC;
            border-radius: 5px 5px 0 0 ;
        }
        #event-menu li a:hover{
            background: #EEE;
            border: 1px solid #CCC;
            border-bottom: 1px solid #FFF;
        }
        #event-menu li.page-active a{
            border: 1px solid #CCC;
            border-bottom: 1px solid #FFF;
        }
    </style>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block seo %}
    <title>{{ event.title }}, {{ event.city }}, {{ event.start | date('d.m.Y') }} </title>
    <meta name="description" content="{{ event.metaDescription ? event.metaDescription : event.anons }}. {{ event.start | date('d.m.Y') }}, {{ event.city }}"/>
    <meta name="keywords" content="{{ event.metaKeyword }}"/>
{% endblock %}

{% block social %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ event.title }}">
    {% if event.preview.path is defined  %}
        <meta property="og:image" content="http://medalmanah.ru{{ event.preview.path }}">
    {% endif %}
    <meta property="og:description" content="{{ event.anons }}">

    {#<meta itemscope itemtype="http://schema.org/Article" />#}
    {#<meta itemprop="headline" content="{{ publication.title }}" />#}

    {#{% if publication.preview.path is defined  %}#}
    {#<meta itemprop="image" content="http://medalmanah.ru{{ publication.preview.path }}" />#}
    {#{% endif %}#}
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="row">
            <div class="title"><h1>{{ event.title }}</h1></div>
            <ol class="breadcrumb">
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="/"><span itemprop="title">Главная</span></a></li>

                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="{{ path('events',{'url' : event.category.slug }) }}"><span itemprop="title">{{ event.category.title }}</span></a></li>

                    {% if page != null %}
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="{{ path('event',{'url' : event.slug }) }}"><span itemprop="title">{{ event.title }}</span></a></li>
                        <li class="active">{{ page.menu }}</li>
                    {% else %}
                        <li class="active">{{ event.title }}</li>
                    {% endif %}
            </ol>



            {% if event.preview.path is defined %}
                <div class="col-xs-4">
                    <img src="{{ event.preview.path }}"
                         style="float: left; margin: 0 20px 10px 10px"
                         class="img-thumbnail"
                         alt="{{ event.title }}"
                         title="{{ event.title }}"
                         itemprop="image"
                    />
                </div>
            {% endif %}
            <div class="col-xs-{{ event.preview.path is defined ? '6' : '10' }}">
                <ul class="event-params">
                    {% if event.specialties | length > 0 %}
                        {% if event.specialties | length != 59 %}
                            <li><b>Специальности:</b>
                                {% for s in event.specialties %}
                                    {{ s.title }}
                                    {% if s != event.specialties | last %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li><b>Специальности:</b>
                                Все
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if event.start != null %}
                        <li>
                            <b>Дата начала:</b>     {{ event.start | date('d.m.Y') }}
                        </li>
                    {% endif %}
                    {% if event.end != null %}
                        <li><b>Дата окончания:</b>  {{ event.end  | date('d.m.Y') }}</li>
                    {% endif %}
                    {% if event.city != null %}
                        <li><b>Город:</b>
                            <a href="{{ path('eventsOfCity',{'cityId' : event.city.id  }) }}" title="Медицинские мероприятия в городе {{ event.city  }}">{{ event.city  }}</a>
                        </li>
                    {% endif %}
                    {% if event.adrs != null %}
                        <li><b>Адрес:</b>           {{ event.adrs }}</li>
                    {% endif %}
                    {% if event.contacts != null %}
                        <li><b>Контактная информация:</b> {{ event.contacts }}</li>
                    {% endif %}
                    {% if event.source != null %}
                        <li><b>Сайт:</b> <a href="{{ event.source }}" target="_blank">{{ event.source|length > 50 ? event.source|slice(0, 50) ~ '...' : event.source  }}</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <hr />
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div data-alert class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% if pages is not empty %}
            <ul class="tabs" id="event-menu">
                <li class="tabs-title {{ page == null ? 'page-active' : '' }}"><a href="{{ path('event',{'url' : event.slug }) }}">О мероприятии</a></li>
                {% for p in pages %}
                    <li class="tabs-title {{ page.id is defined and page.id == p.id ? 'page-active' : '' }}" >
                        <a href="{{ path('event',{'url' : event.slug, 'pageUrl' : p.slug}) }}">{{ p.menu }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="body">

            {% if (page == null) %}
                {{ event.body | raw }}
            {% else %}
                {% if page.form == 1 %}
                    <div class="row">
                        {{ page.content | raw }}

                        <div class="col-sm-12">
                            {#<form method="post" action="{{ path('event_send_question', {'eventSlug' : event.slug }) }}" class="form">#}
                            {% form_theme formQuestion 'bootstrap_3_layout.html.twig' %}

                            {{ form_start(formQuestion) }}
                            {{ form_widget(formQuestion) }}
                            <div class="form-group">
                                {#<div class="col-sm-4"></div>#}
                                {#<div class="col-sm-8">#}
                                    <button type="submit" id="form_submit" name="form[submit]" class="button btn-primary btn">Отправить</button>
                                {#</div>#}
                            </div>
                            {{ form_end(formQuestion) }}

                            {#</form>#}
                        </div>
                    </div>
                {% else %}
                    {{ page.content | raw }}
                {% endif %}
            {% endif %}
        </div>
        <hr />
        <div class="row">
            <span style="font-size: 14px; float: left;padding-top: 8px;padding-left: 15px;">Расказать друзьям&nbsp;&nbsp;</span>
            <div class="" style="padding-top: 5px;float: left;">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter="" style="text-align: left; "
                     data-title="{{ event.title }}"
                     data-description="{{ event.anons is defined ? event.anons | slice(0,150) : ''}}"
                     data-image="{{ event.preview.path is defined ? event.preview.path : '' }}"
                >
                </div>
            </div>
            {% if event.show > 50 %}
                <span style="font-size: 14px; float: left;padding-top: 8px;padding-left: 15px;"><span class="glyphicon glyphicon-eye-open"></span> {{ event.show * 3 }}</span>
            {% endif %}
        </div>
    </div>

{% endblock %}