{% extends 'AppBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.form-calendar').datetimepicker({
                sideBySide: true,
                format: "DD.MM.YYYY"
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <style>
        #form_start, #form_end{
            /*max-width: 130px;*/
        }
        #form_specialty{
            /*max-width: 250px;*/
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="title"><h1>{{ category }}</h1></div>
        <div class="filter">
            <form class="form-vertical">
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form_widget(form.search) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5 col-sm-12">
                        {{ form_widget(form.specialty) }}
                    </div>
                    <div class="form-group col-md-2 col-sm-12 text-right">
                        {{ form_widget(form.start) }}
                    </div>
                    <div class="form-group col-md-2 col-sm-12 text-right">
                        {{ form_widget(form.end) }}
                    </div>
                    <div class="form-group  col-md-3 col-sm-12 text-right">
                        {{ form_widget(form.submit) }}
                        {#<a href="{{ path('event_add') }}" style="padding-left: 35px;">Добавить событие</a>#}
                    </div>
                </div>
            </form>
        </div>
        {% for p in events %}
            {% if p.preview.path is defined %}
                <div class="new-item row">
                    <div class="col-sm-3 hidden-xs">
                        <img src="{{ p.preview.path }}" class="img-thumbnail">
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="p-date">{{ p.start | date('d.m.Y') }} - {{ p.end | date('d.m.Y') }}</div>
                        <div class="p-title">
                            <a href="{{ path('event',{'url' : p.id }) }}">{{ p.title }}</a>
                        </div>
                        <div class="new-body">{{ p.anons }}</div>
                    </div>
                </div>
            {% else %}
                <div class="new-item row">
                    <div class="col-xs-12">
                        <div class="p-title">
                            <a href="{{ path('event',{'url' : p.id }) }}">{{ p.title }}</a>
                        </div>
                        <div class="new-body">{{ p.anons }}</div>
                    </div>
                </div>
                {% endif %}
        {% endfor %}
        <nav>
            {{ knp_pagination_render(events) }}
        </nav>
    </div>
{% endblock %}