{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    {% if poll is defined and poll != null %}
        <script src="{{ asset('bundles/app/js/highcharts.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery.highchartTable-min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('table.highchart')
                        .bind('highchartTable.beforeRender', function(event, highChartConfig) {
                            highChartConfig.colors = ['#DD0000', '#88CCCC', '#228E8E', '#CCFFFF', '#00CCCC', '#3399CC'];
                        })
                        .highchartTable();
            });
        </script>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.like').click(function () {
                $.ajax({
                    url: Routing.generate('set_like',{'id' : {{ publication.id }} }),
                    success: function (msg) {
                        $('.like i').removeClass('fa-thumbs-o-up');
                        $('.like i').addClass('fa-thumbs-up');

                        $('.dislike i').removeClass('fa-thumbs-down');
                        $('.dislike i').addClass('fa-thumbs-o-down');

                        $('.like .count').html(msg.like);
                        $('.dislike .count').html(msg.dislike);

                    }
                });
            });
            $('.dislike').click(function () {
                $.ajax({
                    url: Routing.generate('set_dislike',{'id' : {{ publication.id }} }),
                    success: function (msg) {
                        $('.dislike i').removeClass('fa-thumbs-o-down');
                        $('.dislike i').addClass('fa-thumbs-down');

                        $('.like i').removeClass('fa-thumbs-up');
                        $('.like i').addClass('fa-thumbs-o-up');

                        $('.like .count').html(msg.like);
                        $('.dislike .count').html(msg.dislike);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block seo %}
    <title>{{ publication.title }} </title>
    <meta name="description" content="{{ publication.metaDescription }}"/>
    <meta name="keywords" content="{{ publication.metaKeyword }}"/>
{% endblock %}

{% if publication.type == 0 %}
    {% set publicationUrl = path('article',{'url' : (publication.slug != null ? publication.slug : publication.id) })  %}
{% elseif publication.type == 2 %}
    {% set publicationUrl = path('study',{'url' : (publication.slug != null ? publication.slug : publication.id) })  %}
{% else %}
    {% set publicationUrl = path('new',{'url' : (publication.slug != null ? publication.slug : publication.id) })  %}
{% endif %}

{% block social %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ publication.title }}">
    {% if publication.preview.path is defined  %}
        <meta property="og:image" content="http://agronizer.ru{{ publication.preview.path }}">
    {% endif %}
    <meta property="og:description" content="{{ publication.anons }}">

    {#<meta itemscope itemtype="http://schema.org/Article" />#}
    {#<meta itemprop="headline" content="{{ publication.title }}" />#}

    {#{% if publication.preview.path is defined  %}#}
        {#<meta itemprop="image" content="http://agronizer.ru{{ publication.preview.path }}" />#}
    {#{% endif %}#}
{% endblock %}

{% block content %}
    <article class="row" itemscope itemtype="http://schema.org/Article">
        <div class="title"><h1 itemprop="headline">{{ publication.title }}</h1></div>
        <meta itemprop="description" content="{{ publication.anons }}" />
        <link itemprop="mainEntityOfPage" itemscope href="{{ publicationUrl }}" />
        <div class="col-sm-12">
            <div>
                <meta itemprop="inLanguage" content="ru" />

                <ol class="breadcrumb">
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/"><span itemprop="title">Главная</span></a></li>

                    {% if publication.type == 0 %}
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="{{ path('publications_by_category',{'category' : 'articles'}) }}"><span itemprop="title">Новости</span></a></li>
                    {% elseif publication.type == 2 %}
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="{{ path('publications_by_category',{'category' : 'study'}) }}"><span itemprop="title">Клинические случаи</span></a></li>
                    {% else %}
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a itemprop="url" href="{{ path('publications_by_category',{'category' : 'news'}) }}"><span itemprop="title">Новости медицины</span></a></li>
                    {% endif %}

                    <li class="active">{{ publication.title }}</li>
                </ol>


                <section style="overflow: hidden" itemprop="articleBody">
                    {% if publication.preview.path is defined  %}
                        <img src="{{ publication.preview.path }}"
                             style="max-width: 250px; float: left; margin: 0 20px 10px 10px"
                             class="img-thumbnail"
                             alt="{{ publication.title }}"
                             title="{{ publication.title }}"
                             itemprop="image"
                        />
                            <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="hidden">
                                <img src="{{ publication.preview.path }}" class="img-thumbnail" title="{{ publication.title }}" alt="{{ publication.title }}" itemprop="image" >
                                <meta itemprop="height" content="150">
                                <meta itemprop="width" content="250">
                                <meta itemprop="url" content="https://agronizer.ru{{ publication.preview.path }}">
                            </div>
                    {% endif %}
                    <div itemprop="description">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') or publication.public == true %}
                            {{ publication.body | raw }}
                            {% if publication.video.path is defined %}
                                <div style="text-align: center">
                                    <video controls style="width: 640px; height: 420px;">
                                        <source src="{{ publication.video.path }}" type="video/mp4">
                                        Ваш браузер не поддерживает данное видео
                                    </video>
                                </div>
                            {% endif %}
                            {% if poll is defined and poll != null %}
                            <form class="form-horizontal" method="POST" action="{{ path('publication_poll', {'id' : poll.id }) }}">
                                <hr />
                                <h4>Опрос:</h4>
                                <div class=""><strong>{{ poll.title }}</strong></div>
                                {% if app.session.get('poll-'~poll.id) != true %}
                                    {% for q in poll.questions %}
                                        <div class="radio">
                                            <label class="required">
                                                <input type="radio" name="poll[{{ poll.id }}]" required="required" value="{{ q.id }}">{{ q.title }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <div>
                                        <br />
                                        <button type="submit" class="btn btn-primary">Ответить</button>
                                    </div>
                                    <br />
                                    <br />
                                    </form>
                                {% else %}
                                    <table class="highchart" data-graph-container-before="1" data-graph-type="column" style="display:none" data-graph-inverted="1" data-graph-height="250">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Количество ответов</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for q in poll.questions %}
                                            <tr>
                                                <td>{{ q.title }}</td>
                                                <td>{{ q.count }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endif %}
                            <div style="font-size: 16px">
                                <strong>Вы можете оценить статью:</strong>
                                <span class="like text-success"><span class="count">{{ publication.like }}</span><i class="fa {{ app.session.get('like-'~publication.id) == 1 ? 'fa-thumbs-up' : 'fa-thumbs-o-up' }}" aria-hidden="true" data-id="{{ publication.id }}"></i></span>
                                <span class="dislike text-danger"><span class="count">{{ publication.dislike }}</span><i class="fa {{ app.session.get('like-'~publication.id) == -1 ? 'fa-thumbs-down' : 'fa-thumbs-o-down' }}" aria-hidden="true" data-id="{{ publication.id }}"></i></span>
                            </div>
                            <br />
                        {% endif %}
                    </div>
                </section>
                {% if not (is_granted('IS_AUTHENTICATED_FULLY') or publication.public == true) %}
                    {{ publication.anons | raw }}
                    <br />
                    <br />
                    <div class="alert alert-info text-center">Для доступа к материалу, пожалуйста,
                        <a href="{{ path('fos_user_security_login') }}" style="cursor: pointer">авторизуйтесь</a>
                        или
                        <a href="{{ path('fos_user_registration_register') }}" style="cursor: pointer">зарегистрируйтесь</a>
                    </div>
                {% endif %}

                <section class="row">
                    <div class="hidden">
                        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                                <meta itemprop="url" content="https://agronizer.ru{{ asset('bundles/app/images/logo.png') }}">
                                <img src="https://agronizer.ru{{ asset('bundles/app/images/logo.png') }}" alt="Альманах медицинских событий">
                            </div>
                            <span itemprop="name">agronizer.ru</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span class="glyphicon glyphicon-calendar hidden-sm"></span><span itemprop="datePublished" content="{{ publication.created | date('Y-m-d') }}">{{ publication.created | date('d.m.Y') }}</span><br />
                        <span class="hidden" itemprop="dateModified" content="{{ publication.created | date('Y-m-d') }}">{{ publication.created | date('d.m.Y') }}</span>
                        {% if publication.source %}
                            <b><noindex><a href="{{ publication.source }}">Источник</a></noindex></b><br />
                        {% endif %}
                        <div style="color: #444; font-size: 13px">
                            <b>Автор</b>: <span itemprop="author">{{ publication.author.name }}</span><br />
                            <b>Категория: </b>{{ publication.getTypeStr }}<br />
                            {% if publication.specialties | length > 0 and publication.specialties | length != 59 %}
                                <b>Специальности:</b>
                                {% set ss = '' %}
                                {% for s in publication.specialties  %}
                                    {% set ss = ss~s.title %}
                                    {% if s != publication.specialties | last %}
                                        {% set ss = ss~', ' %}
                                    {% endif %}
                                {% endfor %}
                                <span>{{ ss }}</span>
                            {% endif %}
                        </div>
                        <b>Рейтинг</b>: {{ publication.show * 3  + publication.like * 5 + publication.dislike }}<br />
                    </div>
                    <div class="col-sm-6 text-right" style="padding-top: 5px;">
                        {#<span style="font-size: 12px">Расказать друзьям&nbsp;&nbsp;</span>#}
                        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter="" style="text-align: right; "
                             data-title="{{ publication.title }}"
                             data-description="{{ publication.anons is defined ? publication.anons : ''}}"
                             data-image="{{ publication.preview.path is defined ? publication.preview.path : '' }}"
                        ></div>
                    </div>
                    {#<div class="col-sm-4 hidden-xs">#}

                    {#</div>#}
                    {#<div class="col-sm-3 text-right">#}
                    {#<div style="padding-top: 10px; padding-bottom: 6px">#}
                    {##}
                    {#</div>#}
                    {#</div>#}
                </section>

                {% if featuredPublications != null and featuredPublications  %}
                    <div class="row">
                        <div class="col-xs-11">
                            <h3>Интересные публикации:</h3>
                            <ul>
                                {% for fp in featuredPublications  %}
                                    {% if fp.type == 0 %}
                                        {% set fpnUrl = path('article',{'url' : (fp.slug != null ? fp.slug : fp.id) })  %}
                                    {% elseif fp.type == 2 %}
                                        {% set fpnUrl = path('study',{'url' : (fp.slug != null ? fp.slug : fp.id) })  %}
                                    {% else %}
                                        {% set fpnUrl = path('new',{'url' : (fp.slug != null ? fp.slug : fp.id) })  %}
                                    {% endif %}
                                    <li><a href="{{ fpnUrl }}" target="_blank">{{ fp.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <br />
                    <br />
                    {% include '@App/Publication/comments.html.twig'  with {'comments': publication.comments, 'id' : publication.id, 'type': 'publication' } %}
                    <br />
                    <br />
                {% else %}
                    <br />
                    <br />
                    <div class="alert alert-info text-center">Для доступа к комментариям, пожалуйста,
                        <a href="{{ path('fos_user_security_login') }}" style="cursor: pointer">авторизуйтесь</a>
                        или
                        <a href="{{ path('fos_user_registration_register') }}" style="cursor: pointer">зарегистрируйтесь</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock %}