{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}
{% block content %}

    <div class="event-carusel">
        <div class="item"><div><img src="{{ asset('bundles/app/images/sl-1.jpg') }}" title="Тут некий текст"><div class="event-date">25<br />Марта</div></div></div>
        <div class="item"><div><img src="{{ asset('bundles/app/images/sl-1.jpg') }}" title="Тут некий текст"><div class="event-date">25<br />Марта</div></div></div>
        <div class="item"><div><img src="{{ asset('bundles/app/images/sl-1.jpg') }}" title="Тут некий текст"><div class="event-date">25<br />Марта</div></div></div>
        <div class="item"><div><img src="{{ asset('bundles/app/images/sl-1.jpg') }}" title="Тут некий текст"><div class="event-date">25<br />Марта</div></div></div>
    </div>
    <div class="event-carusel-pages">
        <div class="active"></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="title"><div>НОВОСТИ</div></div>
        {% for p in publications %}
            <div class="index-item">
                <div class="item-title">{{ p.title }}</div>
                <div class="item-anons">
                    {{ p.anons }}
                </div>
                <div class="item-param">
                    {{ p.created | date('d.m.Y') }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="title"><div>МЕРОПРИЯТИЯ</div></div>
        {% for e in events %}
            <div class="index-item row">
                <div class="col-xs-4">
                    <img src="{{ e.preview.path }}" class="img-thumbnail">
                </div>
                <div class="col-xs-8">
                    <div class="item-title">{{ e.title }}</div>
                    <div class="item-anons">
                        {{ e.anons }}
                    </div>
                    <div class="item-param">
                        {{ e.start | date('d.m.Y') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



    <div class="hidden-sm col-md-3">
        {% if importants | length > 0 %}
            <div class="title"><div>ВАЖНЫЕ СОБЫТИЯ</div></div>
            {% for i in importants %}
                <div class="calendar">
                    <div class="date">{{ i.datetime | date('d.m.Y') }}</div>
                    <div class="annotate">
                        {#{{ i.type }}<br />#}
                        {{ i.title }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {{ render(controller("AppBundle:Widget:banner" )) }}
    </div>
{% endblock %}