{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="title"><div>НОВОСТИ</div></div>
        {% for i in 1..5 %}
        <div class="index-item">
            <div class="item-title">Пример интересной новости с большим заголовком</div>
            <div class="item-anons">
                Оппозиционный сирийский Высший комитет по переговорам направил в ООН письмо, в котором обвинил сирийские войска и российские ВКС в нарушении перемирия в Сирии
            </div>
            <div class="item-param">
                25.03.2016
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="title"><div>МЕРОПРИЯТИЯ</div></div>
        {% for i in 1..5 %}
            <div class="index-item row">
                <div class="col-xs-4">
                    <img src="{{ asset('bundles/app/images/ex1.png') }}" class="img-thumbnail">
                </div>
                <div class="col-xs-8">
                    <div class="item-title">Пример интересной новости с большим заголовком</div>
                    <div class="item-anons">
                        Оппозиционный сирийский Высший комитет по переговорам направил в ООН письмо, в котором обвинил...
                    </div>
                    <div class="item-param">
                        25.03.2016
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



    <div class="hidden-sm col-md-3">
        <div class="title"><div>ВАЖНЫЕ СОБЫТИЯ</div></div>

        <div class="calendar">
            <div class="date">17 февраля 2016</div>
            <div class="annotate">
                день памяти Миланова Николая Олеговича
            </div>
        </div>
        <div class="calendar">
            <div class="date">17 февраля 2016</div>
            <div class="annotate">
                день памяти Миланова Николая Олеговича
            </div>
        </div>
        <div class="calendar">
            <div class="date">17 февраля 2016</div>
            <div class="annotate">
                день памяти Миланова Николая Олеговича
            </div>
        </div>
        {{ render(controller("AppBundle:Widget:banner" )) }}
    </div>
{% endblock %}