{% extends 'AppBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block topBody %}
    <div class="row">
        <div class="event-carusel">
            {% for carusel in carusels %}
                {% if carusel.preview.path is defined %}
                    <div class="item"><div><img src="{{ carusel.preview.path }}" title="{{ carusel.title }}"><div class="event-date">{{ carusel.start | date('d') }}<br />{{ carusel.start | date('m') | month }}</div></div></div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="event-carusel-pages">
            {% if carusels | length > 4 %}
                <div class="active"></div>
                <div></div>
                <div></div>
                <div></div>
            {% else %}
                <br />
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="title"><div><a href="{{ path('news') }}">НОВОСТИ</a></div></div>
            {% for p in publications %}
                <div class="index-item">
                    <div class="item-title"><a href="{{ path('publications',{'url' : p.id }) }}" style="color: #222">{{ p.title }}</a></div>
                    <div class="item-anons">
                        {{ p.anons }}
                    </div>
                    <div class="item-param">
                        {{ p.created | date('d.m.Y') }}
                    </div>
                </div>
            {% endfor %}
            <div class="text-right">
                <a href="{{ path('news') }}"><b>Читать все</b></a>
            </div>
        </div>
    </div>
{% endblock %}